#root {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.object-cover {
  object-fit: cover;
}

/* ==== MUI Custom Changes ==== */
/* .MuiList-root { */
.MuiInputBase-root,
.MuiAutocomplete-root {
  background-color: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: whitesmoke;
}

.MuiPaper-root,
.MuiList-root,
.MuiPickersInputBase-root,
.MuiPickersSectionList-root,
.MuiPickersLayout-root,
.MuiMenu-list {
  background-color: #36373a;
  /* color: #9aa0a6; */
  color: whitesmoke;
  outline: none;
}

.MuiFormControl-root,
.MuiInputBase-root {
  background-color: transparent;
  color: whitesmoke;
  outline: none;
}

.MuiSvgIcon-root {
  color: #9aa0a6;
}
